@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeestjeOpJeFeestje.Models.Orders.OrderViewModel

@{
    ViewData["Title"] = "Products";
    ViewData["date"] = Model.OrderFor;
    ViewData["step"] = "Contact";
    var isSubmitted = Context.Request.Method == "POST" && Context.Request.Form["isSubmitted"] == "true";
}

<div class="container">
    <partial name="~/Views/Shared/navigation.cshtml"/>

    <div class="row mx-auto">
        <div class="col-9">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="ContactPost" method="post" class="mx-auto" style="max-width: 30rem" id="contactForm">
                    <input type="hidden" asp-for="ProductsOverViewModel.BasketCount"/>
                    <input type="hidden" asp-for="ProductsOverViewModel.Products"/>
                    <input type="hidden" asp-for="OrderFor"/>
                    <input type="hidden" name="skip" value="true"/>
                    <input type="hidden" id="isSubmitted" name="isSubmitted" value="false"/>
                    <div class="pt-2">
                        <button class="btn btn-primary ms-1" type="submit">Skip step</button>
                    </div>
                </form>
                <p>Or add different details</p>
            }

            <h3>Enter Your Details</h3>
            <form asp-action="ContactPost" method="post" class="mx-auto" style="max-width: 30rem" id="contactForm">
                <input type="hidden" asp-for="ProductsOverViewModel.BasketCount"/>
                <input type="hidden" asp-for="ProductsOverViewModel.Products"/>
                <input type="hidden" asp-for="OrderFor"/>
                <input type="hidden" name="skip" value="false"/>
                <input type="hidden" id="isSubmitted" name="isSubmitted" value="false"/>
                @if (isSubmitted)
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                }
                <div class="mb-3">
                    <div class="my-2">
                        <label asp-for="Name">Name *</label>
                        <input asp-for="Name" class="form-control" placeholder="Name" required/>
                        @if (isSubmitted)
                        {
                            <span asp-validation-for="Name" class="text-danger"></span>
                        }
                    </div>
                    <div class="my-2">
                        <label asp-for="Email">Email *</label>
                        <input asp-for="Email" class="form-control" placeholder="Email" required/>
                        @if (isSubmitted)
                        {
                            <span asp-validation-for="Email" class="text-danger"></span>
                        }
                    </div>
                    <div class="my-2">
                        <label asp-for="ZipCode">ZipCode *</label>
                        <input asp-for="ZipCode" class="form-control" pattern="[0-9]{4}\s?[A-Z]{2}" placeholder="ZipCode" required/>
                        @if (isSubmitted)
                        {
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        }
                    </div>
                    <div class="my-2">
                        <label asp-for="HouseNumber">HouseNumber *</label>
                        <input asp-for="HouseNumber" class="form-control" placeholder="HouseNumber" required/>
                        @if (isSubmitted)
                        {
                            <span asp-validation-for="HouseNumber" class="text-danger"></span>
                        }
                    </div>
                    <div class="my-2">
                        <label asp-for="PhoneNumber">PhoneNumber *</label>
                        <input asp-for="PhoneNumber" class="form-control" pattern="[0-9]{10}" placeholder="PhoneNumber" required/>
                        @if (isSubmitted)
                        {
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-between pt-2">
                    <button class="btn btn-primary ms-1" type="submit">Next step</button>
                </div>
            </form>
        </div>
        <div class="col-3">
            @foreach(var product in Model.ProductsOverViewModel.Products)
            {
                <div class="d-flex flex-row">
                    <img src="~/Images/Icons/@product.Type/@product.Img" alt="@product.Name" class="w-25"/>
                    <p>@product.Name</p>
                    <p>@product.Price</p>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('contactForm').addEventListener('submit', function() {
            document.getElementById('isSubmitted').value = 'true';
        });
    </script>
}