@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="step-bar">
                <li class="step">Beestjes</li>
                <li class="step">Accessoires</li>
                <li class="step">Gegevens</li>
                <li class="step">Bevestig</li>
            </ul>
        </div>
    </div>

    <div class="row mx-auto">
        <form method="get" asp-action="Shop">
            <label for="date">Select a date</label>
            <input type="date" id="date" name="date" class="form-control" required />
            <button type="submit" class="btn btn-primary">Next step</button>
        </form>
    </div>
</div>